html {
    overflow-x: hidden;
}

.bg-dark {
    background-color: #000 !important;
}

body, nav, a {
    color: #fff !important;
}

.img-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.img-fluid {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.nav-link {
    border-bottom: 1px;
}

@media only screen and (min-width: 992px) {
    .about {
        margin-top: -28px;
    }
  }